fastapi
uvicorn[standard]
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
psycopg2-binary
python-dotenv
pydantic[email]>=2.0,<3.0
asyncpg
aiosqlite
pytest
pytest-asyncio
httpx